.files-list__row-icon .folder-icon svg {
	fill: var(--image-background-pride-folder-gradient);
}

#app-navigation ul > li.active,
.button-vue--vue-primary,
.preview-card__header,
.profile__primary-action-button,
.app-navigation-entry.active {
	background-image: var(--image-background-pride-button) !important;
}
.material-design-icon__svg,
.checkbox-radio-switch svg {
	fill: var(--image-background-pride-button-gradient);
}

#app-navigation ul > li.active .material-design-icon__svg,
.button-vue--vue-primary .material-design-icon__svg,
.preview-card__header .material-design-icon__svg,
.profile__primary-action-button .material-design-icon__svg,
.app-navigation-entry.active .material-design-icon__svg {
	fill: var(--color-primary-element-text);
}
